<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parfum Mortel</title>
    <link rel="icon" href="../img/shakespeare.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/global/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
</head>
<header>
    <div class="container-nav">
            <h1>Pm</h1>
        <div class="box-links"> 
            <nav><a href="../view/index.html">Naissana</a></nav>
            <nav><a href="./biographie/biographie.html">Biographie</a></nav>
            <nav><a href="../view/Var.html">Varietes</a></nav>
            <nav><a href="#"></a>murmure moi</nav>
        </div>
    </div>
</header>
<body>
    <div id="background-body">
        <img src="../img/bg.png">fbf
    </div>    
</body>

<main>    
<div class="container-text"> 
    <div id="text-left">
        Dans la vie...
    </div>
    <div id="text-right">
        ...et la mort
    </div>
</div>
    <div class="container-perfumes">
        <div><img src="../img/perfume1.png"></div>
       <div ><img src="../img//perfume_2.png"></div>
       <div><img src="../img//perfume_3.png"></div>
       <div><img src="../img//perfume_4.png"></div>
       <div><img src="../img/perfume_5.png"></div>
       <div><img src="../img/perfume_6.png"></div>
    </div>
</main>
</html>