<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfume france</title>
    <link rel="stylesheet" href="../css/global/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Love+Ya+Like+A+Sister&display=swap"
        rel="stylesheet">
</head>
<header>
    <div class="container-nav">
        <h1>Pm</h1>
        <div class="box-links">
            <nav><a href="../view/index.html">Naissana</a></nav>
            <nav><a href="./biographie/biographie.html">Biographie</a></nav>
            <nav><a href="../view/Var.html">Varietes</a></nav>
            <nav><a href="#"></a>murmure moi</nav>
        </div>
    </div>
</header>

<body>
    <div id="background-body">
        <img src="../img/bg.png">
    </div>



    <div class="container-produtos-1">
        <div><img class="oi" src="../img/perfumeFrame.png "></div>
        <div><a><strong> parfum saisissant pour ceux
                qui ont été soudainement
                frappés par la mort. Aussi
                surprenant que la mort ellemême,ce parf um s'adresse à
                ceux qui souhaitent partager la
                souffrance du défunt.</strong></a></div>
        <div><img src="../img/flower1.png"></div>                
    </div>



    <div class="img-end">
        <a href="../varietes.html"><img src="../img/perfumeFrame.png"></a>
        <a href="../Varietes/varietes 2/varietes 2.html"><img src="../img/perfumeFrame.png"></a>
        <a href="../Varietes/varietes 3/varietes 3.html"><img src="../img/perfumeFrame.png"></a>
        <a href="../Varietes/variestes 4/varietes 4.html"><img src="../img/perfumeFrame.png"></a>
    </div>
</body>

</html>